


body{
     border:1em outset #B0893B;
     font-weight: 900;
     color: #1E1616;
     font-family: sans-serif; 
}
h1{
	text-align: center;
	color:#F4C76C;
	font-size: 24;
	width: 31em;
    line-height: 1.5em

}
p.strong{
	text-align: center;
	text-transform: uppercase;
	font-size: 16;
}	

section{

    text-indent: 3em;
	width: 31em;
    line-height: 1.5em;
    color: #E7FDFF;
    font-family: sans-serif;
    font-size: 20;

}
span{
	font-style: italic;
	letter-spacing: 2px;
}
	
u{
   
    text-decoration: none;
  	border-bottom: 2px solid orange;
}

p.line{
	border-top: 10px double #B0893B;
    color: #F4C76C;
    font-size: 10; 
}
